<?xml version="1.0"?>
<sdf version="1.7">
    <xacro_define_property name="h" value="0.2" />
    <!--rplidar a2-->
    <model name='rplidar_a2'>
        <link name="link">
            <inertial>
                <pose>0 0 0.02 0 0 0</pose>
                <xacro_macro name="inertia_box" m="0.5" x="${h}" y="${h+0.1}" z="${2*h}"/>
            </inertial>
            <collision name="collision">
                <geometry>
                    <mesh filename="model://rplidar_a2/meshes/rplidar_a2.dae"/>
                </geometry>
            </collision>
            <visual name="visual">
                <geometry>
                    <mesh filename="model://rplidar_a2/meshes/rplidar_a2.dae"/>
                </geometry>
            </visual>
        </link>
    </model>
</sdf>
