<?xml version="1.0"?>
<sdf version="1.7">
    <xacro_macro_define name="box_inertia" params="m x y z">
        <mass>${m}</mass>
        <inertia>
            <ixx>${m*(y*y+z*z)/12}</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>${m*(x*x+z*z)/12}</iyy>
            <iyz>0</iyz>
            <izz>${m*(x*x+y*y)/12}</izz>
        </inertia>
    </xacro_macro_define>
    <xacro_macro_define name="cylinder_inertia" params="m r h">
        <mass>${m}</mass>
        <inertia>
            <ixx>${m*(3*r*r+h*h)/12}</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>${m*(3*r*r+h*h)/12}</iyy>
            <iyz>0</iyz>
            <izz>${m*r*r/2}</izz>
        </inertia>
    </xacro_macro_define>
</sdf>